@{
    ViewBag.Title = "About";
}

<style>
    div.gallery {
        margin: 23px;
        float: left;
        width: 16%;
    }

    div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #c5c7c9;
    }

    div.desc {
        padding: 10px;
        text-align: center;
    }

    .h2 {
        color: white;
        text-align: center;
        font-size: 24px;
        background-color: #cd261b;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #c5c7c9;
    }

    .p {
        text-align: justify;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 2px 2px 5px #c5c7c9;
    }
</style>

<div class="row">
    <div class="col">
        <h2 class="h2">Netflix Web Application & Web Service</h2>
        <p class="p">
            Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
            In the project is represented the access to an extensive library of feature films that you can watch everywhere and anytime.
            There are five categories: Movies, Directors, Producers, Genres & Ratings.
            They form the core of the Netflix project, offering functionality as CRUD (Create, Read, Update, Delete) operations, searching based on different criteria, restrictions for some of the fields in the model's components, etc.
            The Netflix project consists of a Web service (WCF) and a Client to consume the service - ASP.NET MVC Web Application.
        </p>
    </div>
</div>

<div class="row">
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_1.jpg">
            <img src="~/Images/Netflix_Movie_1.jpg" />
        </a>
        <div class="desc">Taken (2008)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_2.jpg">
            <img src="~/Images/Netflix_Movie_2.jpg" />
        </a>
        <div class="desc">Jurassic Park (1993)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_3.jpg">
            <img src="~/Images/Netflix_Movie_3.jpg" />
        </a>
        <div class="desc">Erin Brockovich (2000)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_4.jpg">
            <img src="~/Images/Netflix_Movie_4.jpg" />
        </a>
        <div class="desc">Pretty Woman (1990)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_5.jpg">
            <img src="~/Images/Netflix_Movie_5.jpg" />
        </a>
        <div class="desc">Die Hard (1988)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_6.jpg">
            <img src="~/Images/Netflix_Movie_6.jpg" />
        </a>
        <div class="desc">Maleficent (2014)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_7.jpg">
            <img src="~/Images/Netflix_Movie_7.jpg" />
        </a>
        <div class="desc">The Godfather (1972)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_8.jpg">
            <img src="~/Images/Netflix_Movie_8.jpg" />
        </a>
        <div class="desc">Once Upon a Time in America (1984)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_9.jpg">
            <img src="~/Images/Netflix_Movie_9.jpg" />
        </a>
        <div class="desc">Fury (2014)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_11.jpg">
            <img src="~/Images/Netflix_Movie_11.jpg" />
        </a>
        <div class="desc">The Silence of the Lambs (1991)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_10.jpg">
            <img src="~/Images/Netflix_Movie_10.jpg" />
        </a>
        <div class="desc">Mona Lisa Smile (2003)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_12.jpg">
            <img src="~/Images/Netflix_Movie_12.jpg" />
        </a>
        <div class="desc">Life Is Beautiful (1997)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_13.jpg">
            <img src="~/Images/Netflix_Movie_13.jpg" />
        </a>
        <div class="desc">Contact (1997)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_14.jpg">
            <img src="~/Images/Netflix_Movie_14.jpg" />
        </a>
        <div class="desc">The Terminal (2004)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/Netflix_Movie_15.jpg">
            <img src="~/Images/Netflix_Movie_15.jpg" />
        </a>
        <div class="desc">Ocean’s Eleven (2001)</div>
    </div>
</div>