@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous">
<style>
    .fas {
        font-size: 25px;
    }

    .fa-globe {
        color: #cd261b;
    }
    
    .fa-globe:hover {
        opacity: 0.9;
    }

    .social-links {
        list-style-type: none;
        padding: 0px
    }
    
    .social-links li {
        display: inline-block;
        margin-right: 10px;
    }

    .h2 {
        color: white;
        text-align: center;
        font-size: 24px;
        background-color: #cd261b;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #c5c7c9;
        display: inline-block;
    }

    .h3 {
        margin-top: 5px;
    }

    .p {
        text-align: justify;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
        box-shadow: 2px 2px 5px #c5c7c9;
    }
</style>

<div class="row">
    <div class="col">
        <h2 class="h2">Contact</h2>
        <h3 class="h3">Contact Customer Service</h3>
        <h4>Call us from the Netflix app</h4>
        <p class="p">
            Contacting Netflix is now easier than ever when you contact us from the Netflix app on your Android or iOS phone or tablet!
            Calling through the app is free - all you need is an internet or cellular connection.
        </p>
        <p><a class="btn btn-default" href="https://help.netflix.com/en/contactus">Learn more &raquo;</a></p>
    </div>
</div>

<div>
    <ul class="social-links">
        <li>
            <a href="https://www.netflix.com/bg/" target="_blank"><i class="fas fa-globe"></i></a>
        </li>
    </ul>
</div>